* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-bottom: solid;
    border-width: 0.1rem;
}

.imagem_logo {
    width: 8rem;
}

.items_da_navbar a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

.introducao_background {
    position: relative;
    background-color: rgb(248, 248, 248);
   
}
.introducao_background::before{
    background-image: url(imgs/background.png);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;

}

.introducao_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 2540px;
    padding: 0;
    position: relative;
}

.coluna_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0 2%;
}

.coluna_esquerda h1 {
    margin-bottom: 1%;
    font-size: 3rem;
}

.coluna_esquerda p {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.coluna_direita {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
}

.img_coluna_direita{
    width: 20rem;
    height: 25rem;
    border-radius: 50%;
}

.catalogue_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    padding: 5% 5% 5% 5%;
    position: relative;
    justify-items: center;
}

.catalogue_container img {
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 2% 2% 2% 2%;
}


.catalogue_container figure {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue_container figcaption {
    background-color: white;
    padding: 2% 2% 6% 2%;
    border-radius: 0% 0% 50% 50%;
}

.introducao_background .galeria {
    text-align: center;
    background-color: white;
}

.form_container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
    height: 1080px;
    position: relative;
}

.form_container form {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    height: 70%;
    padding: 3% 3% 3% 3%;
}

.form_container input {
    margin: 2% 2% 2% 2%;
}

.form_container p {
    text-align: center;   
}

.form_container h2 {
    text-align: center;

}

.footer_container{
    background-color: whitesmoke;
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border-top: solid;
    border-width: 0.1rem;
    position: relative;
}

.contatos {
    font-size: 0.6rem;
    padding-right: 3%;
}

.redes_sociais {
    font-size: 0.6rem;
    padding-right: 3%;
}

.endereco {
    font-size: 0.6rem;
    padding-right: 3%;
}

.espaco {
    flex-grow: 1;
}

.copyright_container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 0px 5px 5px 10px;
    position: relative;
}

.copyright_container h1 {
    font-size: 0.6rem;

}


