body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#container_paises {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

#container_apibr {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

#button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#label_ano {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

#label_input {
    grid-area: 1 / 1 / 3 / 2;
    justify-self: center;
}

#submit_ano {
    grid-area: 1 / 2 / 3 / 4;
}

#lista_paises {
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 50px;
    padding-bottom: 50px;
}

#country-info {
    grid-area: 1 / 2 / 2 / 3;
}

#info-feriado {
    margin-top: 20px;
    text-align: center;
}

#feriado_texto {
    margin-right: 20px;
    text-align: center;
    text-justify: center;
}


footer {
    margin-top: 20px;
}

@media (max-width: 576px) {
    #container_paises {
        width: 90%;
        grid-template-columns: 1fr; 
        justify-content: center;
        margin: 20px 20px 20px 20px;
    }

    #info-country {
        justify-content: center;
        text-align: center;
    }

    #container_apibr {
        width: 90%;
        margin: 20px;
    }
}