body {
    font-family: 'poppins';
}

.carousel-item img {
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    object-fit: fill; /* Options: cover, contain, fill, etc. */
}

.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 10px;
    border-radius: 5px;
    color: white; /* Ensure the text is readable */
}

#fundo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    background-color: rgb(236, 156, 243);
}

#principal {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 5;
    background-color: rgba(255, 255, 255, 0.486);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#subtitulo_site {
    margin-left: 2px;
    margin-right: 2px;
}

#subtitulo_principal {
    text-align: center;
    padding: 20px;
}

#rodape  {
    text-align: center;
}

#cabecalho {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 5;
    background-color: rgba(139, 39, 123, 0.534);
    text-align: center;
}

#rodape {
    width: 100%;
    height: 100%;
    grid-area: 3 / 1 / 4 / 5;
    background-color: white;
}

