* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: whitesmoke;
    top: 0;
    position: sticky;
    z-index: 100;
}

.navbar-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.nav-item.logo {
    grid-column: span 2;
    justify-self: baseline;
    align-self: center;
}

.nav-link {
    display: grid;
    justify-items: end;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item.itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.imagem_logo {
    width: 8rem;
    margin-left: 20px;
}

.items_da_navbar {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.items_da_navbar a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.introducao_background {
    position: relative;
    background-color: rgb(248, 248, 248);

}

@keyframes troca_background {
    from {background-image: url(imgs/background.png);}
    to {background-image: url(imgs/background2.png);}
}

.introducao_background::before{
    background-image: url(imgs/background.png);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    animation-name: troca_background;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.introducao_container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0;
    position: relative;
}

.textos_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    height: 100%;
    padding: 0;
    padding-bottom: 200px;
}

.texto_introducao {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.199);
    border: 0;
}

.img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: solid;
    margin: 20px;
    transition: border-radius 0.2s;
}

.img:hover {
    width: 80%;
    height: 80%;
    border-radius: 0%;
    border: solid;
    margin: 20px;
}

.img2 {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.catalogue_container {
    display: inline;
    position: relative;
    padding: 5% 5% 200px 5%;
    justify-items: center;
}

.catalogue_container img {
    background-color: white;
    width: 50%;
    height: 50%;
    padding: 2% 2% 2% 2%;
}


.catalogue_container figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue_container figcaption {
    background-color: white;
    padding: 2% 2% 3% 2%;
    border-radius: 0% 0% 50% 50%;
}


.carousel-indicators {
    margin-top: 30px;
    margin-bottom: 0px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.tabela{
    padding: 5% 5% 5% 5%;
}

.table {
    position: relative;
}

.form_container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
    height: 1080px;
    position: relative;
}

.form_container form {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    height: 100%;
    padding: 3% 3% 3% 3%;
}

.form_container input {
    margin: 2% 2% 2% 2%;
}

.form_container p {
    text-align: center;   
}

.form_container h2 {
    text-align: center;

}

.footer_container{
    background-color: whitesmoke;
    height: 160px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-top: solid;
    border-width: 0.1rem;
    position: relative;
}

.contatos {
    font-size: 0.6rem;
    padding-right: 3%;
}

.contatos h1 {
    font-size: 1.2rem;
    padding-right: 3%;
}

.redes_sociais {
    font-size: 0.6rem;
    padding-right: 3%;
}

.redes_sociais h1 {
    font-size: 1.2rem;
    padding-right: 3%;
}

.endereco {
    font-size: 0.6rem;
    padding-right: 3%;
}

.endereco h1 {
    font-size: 1.2rem;
    padding-right: 3%;
}

.copyright_container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 0px 5px 5px 10px;
    position: relative;
}

.copyright_container h1 {
    font-size: 0.6rem;

}

@media only screen and (max-width: 500px) {

    .footer_container{
        background-color: whitesmoke;
        height: 280px;
        display: grid;
        grid-template-columns: 33%;
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-top: solid;
        border-width: 0.1rem;
        position: relative;
    }

    .footer_container h1 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .textos_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        height: 100%;
        padding: 0;
        padding-bottom: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-item.itens {
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;
    }

    .navbar {
        height: 160px;
    }
}
