#grid_principal {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    width: 500px;
    height: 600px;
    
}

#cobra {

    width: 21px;
    height: 21px;
    grid-area: 15/5/16/6;
}